<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="price_per_customer" frontName="price_per_customer">
            <module name="TuVan_PricePerCustomer" />
        </route>
    </router>
</config>
